.pageBody {
  text-align: center;
  background-color: rgb(230, 230, 230);
  color: black;
  text-align: center;
  min-height: 100vh;
}

.intro {
  background-image: linear-gradient(
    0deg,
    rgb(230, 230, 230) 0%,
    #0a960c 30%,
    #000000 100%
  );
  color: rgb(230, 230, 230);
  text-shadow: 2px 2px #293000;
  padding-top: 20vh;
  min-height: 100vh;
  margin-left: 0;
  margin-right: 0;
}

.slide {
  padding-top: 25vh;
  width: 60%;
  min-height: 100vh;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.slide-inner {
  margin-left: 10%;
  margin-right: 10%;
}

.user {
  padding-top: 7.5rem;
  padding-bottom: 5%;
}

.toPage {
  background-color: gray;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

.toPage:hover {
  text-decoration: none;
  background-color: lightgrey;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.catalog {
  padding-top: 1.25%;
  padding-bottom: 2.5%;
  min-height: 100%;
}

.catalogRow {
  padding-top: 0.25%;
  padding-bottom: 0.25%;
  margin-bottom: 0.5%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
}

.catalogCol {
  text-align: center;
}

.catalogHeader {
  padding-top: 15%;
  padding-left: 10%;
  padding-right: 10%;
}

.tableHeader {
  margin-bottom: 0.5%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
  border: 1px solid black;
  background-color: darkgrey;
}

.searchBar {
  width: 50%;
}

.catalogNavBtns {
  width: 30%;
}

.catalogBtn {
  font-size: 30px;
}

.dailyShelf {
  margin-top: 7.5rem;
  margin-bottom: 5%;
  text-align: center;
}

.metamaskLink {
  text-decoration: none;
  color: white;
}

.metamaskLink:hover {
  text-decoration: underline;
  color: white;
}

.strokeme {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.strokeme-inverse {
  color: black;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
