@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");
.app {
  background-color: white;
  z-index: 100;
}

.orbitronFont {
  font-family: "Orbitron", sans-serif;
}

.navBar {
  background-color: #0a960c;
  -webkit-box-shadow: 0 8px 6px -6px rgb(73, 69, 69);
  -moz-box-shadow: 0 8px 6px -6px rgb(73, 69, 69);
  box-shadow: 0 8px 6px -6px rgb(73, 69, 69);
}

.navbar-toggler {
  color: rgba(255, 255, 255, 1);
  border-color: rgb(255, 255, 255);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-image: none;
  background-size: auto;
  background-size: 100% 100%;
}

.navBtn {
  color: white;
  font-size: 14pt;
}

.navBtn:active,
.navBtn:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.navBtn:hover {
  color: white;
  background-color: #077a09;
  border-radius: 0.5rem;
}

.navBtn:active {
  text-decoration: none;
  color: white;
  padding-left: 1.2em;
  padding-right: 1.2em;
  font-size: 14pt;
  cursor: pointer;
}

.navDropdown {
  top: -4;
  color: white;
  padding-left: 1.2em;
  padding-right: 1.2em;
  font-size: 14pt;
}

.dropdownBtn {
  color: black;
}

.userDashboard {
  margin-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.userDashboardBtn:hover {
  cursor: pointer;
}

.footer {
  margin: 0;
  max-width: 100%;
  background-color: black;
  color: white;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  text-align: center;
  z-index: -100;
}

.footerHeader {
  font-size: 2rem;
}

.ftrBtn {
  color: white;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 14pt;
}

.ftrBtn:hover {
  text-decoration: none;
  color: lightslategray;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 14pt;
  cursor: pointer;
}
