@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");
.app {
  background-color: white;
  z-index: 100;
}

.body {
  min-height: 37rem;
}

.orbitronFont {
  font-family: "Orbitron", sans-serif;
}

.navBar {
  background-color: #0a960c;
  -webkit-box-shadow: 0 8px 6px -6px rgb(73, 69, 69);
  -moz-box-shadow: 0 8px 6px -6px rgb(73, 69, 69);
  box-shadow: 0 8px 6px -6px rgb(73, 69, 69);
}

.navbar-toggler {
  color: rgba(255, 255, 255, 1);
  border-color: rgb(255, 255, 255);
  background-image: url("./features/resources/open-menu.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2rem;
}

.navBtn {
  color: white;
  font-size: 14pt;
}

.navBtn:active,
.navBtn:focus {
  outline: 0;
  border: none;
  outline-style: none;
}

.navBtn:hover {
  color: white;
  text-shadow: 3px 3px rgb(73, 69, 69);
}

.navDropdown {
  top: -4;
  color: white;
  padding-left: 1.2em;
  padding-right: 1.2em;
  font-size: 14pt;
}

.dropBtn {
  color: black;
}

.dropBtn:hover {
  text-decoration: none;
  color: black;
}

.dropBtn:active,
.dropBtn:focus {
  outline: 0;
  border: none;
  outline-style: none;
}

.userDashboard {
  margin-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.userDashboardBtn:hover {
  cursor: pointer;
}

.footer {
  max-width: 100%;
  background-color: black;
  color: white;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  text-align: center;
  z-index: -100;
}

.footerHeader {
  font-size: 2rem;
}

.ftrBtn {
  color: white;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 14pt;
}

.ftrBtn:hover {
  text-decoration: none;
  color: lightslategray;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 14pt;
  cursor: pointer;
}
